@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a,
a:visited,
a:hover {
   text-decoration: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: "Nunito", sans-serif;
   scroll-behavior: smooth;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*---------------------------*/

.weatherapp {
   color: #fff;
}

.container {
   margin: 0 auto;
   max-width: 1440px;
   padding: 55px 15px 0;
   text-align: center;
   width:100%;
   background: url(../src/panorama.jpg) 50% no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 100vh;
   display: block;
   position: absolute
}

.weatherapp-title {
   font-size: 25px;
   font-weight: bold;
   padding-bottom: 45px;
   text-shadow: 2px 2px 2px black;
}

.weatherapp-input {
   padding:13px;
   border: 2px solid black;
   margin-bottom:55px;
   border-radius: 20px;
   font-size: 20px;
}

.weatherapp-info p {
   padding-bottom:40px;
   font-size: 23px;
   text-shadow: 2px 3px 3px black;
   font-weight: bold;
}

.weatherapp-info-transition-enter {
   opacity: 0;
}

.weatherapp-info-transition-enter-active {
   opacity:1;
   transition: opacity 700ms;
}
